* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Livvic';
    font-weight: 700;
}

.section{
    width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.homePage2 {
    background: url(../img/noDifference/home_bg_image1.png);
    height: 684px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.homePage2-info {
    padding-top: 139px;
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.homePage2-info .left-info {
    width: 415px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.b {
    width: 50px;
    height: 4px;
    background: #F67E7E;
}

.h2 {
    width: 445px;
    height: 144px;
    font-size: 48px;
    color: white;
}

.homePage2-cards {
    max-width: 540px;
    margin-top: 60px;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.homePage2-card {
    width: 100%;
    height: 94px;
    display: flex;
    gap: 23px;
    color: white;

}

.homePage2-card h4 {
    color: #F67E7E;
    margin-bottom: 16px;
}

.homePage2-card div{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homePage2-card p {
    width: 445px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: white;
}

.homePage3 {
    background: url(../img/noDifference/home_bg_image2.png);
    height: 745px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.homePage3-info {
    padding-top: 140px;
}

.homePage3 .h2 {
    width: 932px;
    margin: auto;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: white;
    margin-bottom: 12px;
}

.homePage3-cards {
    /* margin-top: 35px; */
    width: 1110px;
    height: 313px;
    margin-left: 12px;
    display: flex;
    gap: 30px;
}

.homePage3-card {
    background: url(../img/noDifference/quote.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 344px;
    height: auto;
    text-align: center;
    color: white;
}

.homePage3-card .elementp {
    padding-top: 32px;
    font-weight: 600;
    line-height: 25px;
    font-size: 15px;
    text-align: center;
}

.homePage3-card h4 {
    color: #79C8C7;
    margin: 24px 0 2px;
    line-height: 28px;
}

.homePage3-card .p {
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 30px;
}

#Page3-card{
    padding-right: 15px;
    img{
        margin-top: 2px;
        margin-right: 2px;
    }
}

#PAge3-card{
    img{
        margin-top: 2px;
        margin-right: 5px;
    }
}

#page3-card{
    width: 350px;
    p{
        padding-left: 5px;
    }
    img{
        margin-top: 13px;
    }
}

.homePage4 {
    background: url(../img/noDifference/home_bg_image3.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.homePage4 div {
    width: 1078px;
    padding: 76px 80px;
    display: flex;
    justify-content: space-between;
}

.homePage4 h3 {
    color: #012F34;
    font-size: 48px;
    line-height: 48px;
}

.homePage4 a {
    text-decoration: none;
    display: inline-block;
    width: 153px;
    padding: 10px 24px 8px;
    text-align: center;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    transition: all 700ms linear;
}

.homePage4 a:hover {
    color: white;
    background: black;
}

footer {
    background: #002529;
}

.footer-info {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 730px;
    display: flex;
    gap: 110px;
}

.logo a {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin-right: 36px;
    color: white;
    transition: all 700ms linear;
}

.logo a:hover {
    color: #F67E7E;
}

.logo img {
    margin-bottom: 22px;
}

.info {
    width: 210px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #99a8a9;
}

.right {
    width: 255px;
}

.right div {
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-bottom: 51px;
}

.right div img {
    cursor: pointer;
}

.right p {
    padding-left: 2px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #99a8a9;
}

@media (width<1400px) {
    .section{
        width: 1200px;
        margin: auto;
    }
}

@media (width<1200px) {
    .section{
        width: 1140px;
        margin: auto;
    }
}

@media (width<992px) {
    .section{
        width: 960px;
        margin: auto;
    }
}


@media (width<768px) {
    .section{
        width: 768px;
        margin: auto;
    }
    .container {
        max-width: 683px;
        margin: 0 auto;
        padding: 0 40px;
    }

    .homePage2 {
        height: auto;
    }

    .homePage2-info {
        padding: 100px 0;
        flex-direction: column;
    }

    .h2 {
        font-size: 32px;
        padding-bottom: 64px;
    }

    .homePage2-info .left-info {
        gap: 32px;
    }

    .homePage2-cards {
        gap: 32px;
    }

    .homePage2-card {
        text-align: left;

        div {
            h4 {
                font-size: 18px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .homePage3-info {
        padding: 100px 0;
    }

    .homePage3 {
        flex-direction: column;
        height: auto;

        .h2 {
            width: 572px;
            font-size: 32px;
        }
    }

    .homePage3-cards {
        flex-direction: column;
    }

    .homePage3-card {
        width: 572px;
    }

    .homePage4 {
        min-height: 200px;
    }

    .homePage4 h3 {
        font-size: 32px;
        line-height: 32px;
    }

    .homePage4 a {
        max-width: 143px;
        min-height: 28px;
        font-size: 16px;
        padding: 8px;
    }

    footer {
        min-height: 271px;
    }

    .footer-info {
        padding: 56px 0;
        max-width: 698px;
        flex-direction: column;
        text-align: right;
        justify-content: start;

        .left {
            width: 100%;
            justify-content: space-between;
            margin-bottom: 32px;

            .logo {
                img {
                    margin-left: -20px;
                    margin-bottom: 53px;
                }
            }

            .info {
                font-size: 15px;
            }
        }

        .right {
            width: 100%;
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                justify-content: start;
            }
        }
    }

}

@media (width<600px) {
    .section{
        width: 375px;
        margin: auto;
    }
    .container {
        max-width: 327px;
        margin: 0 auto;
        padding: 0 40px;
    }

    .homePage2 {
        height: auto;
    }

    .homePage2-info {
        padding: 64px 0;
        flex-direction: column;
    }

    .h2 {
        width: 240px;
        font-size: 32px;
        padding-bottom: 54px;
        text-align: left;
    }

    .homePage2-info .left-info {
        gap: 32px;
    }

    .homePage2-cards {
        gap: 32px;
        padding: 0;
    }

    .homePage2-card {
        text-align: left;
        flex-direction: column;
        align-items: center;

        img {
            width: 72px;
        }

        div {
            width: 327px;
            text-align: center;

            h4 {
                font-size: 18px;
            }

            p {
                width: 100%;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }

        .homePage2-card {
        text-align: left;

        div {
            h4 {
                font-size: 18px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .homePage3-info {
        padding: 100px 0;
    }

    .homePage3 {
        flex-direction: column;
        height: auto;
        
        .h2 {
            width: 327px;
            font-size: 32px;
            line-height: 32px;
        }
    }
    
    .homePage3-cards {
        flex-direction: column;
    }
    
    .homePage3-card {
        width: 327px;
    }


    .homePage4 {
        min-height: 302px;
    }

    .homePage4 div {
        flex-direction: column;
        gap: 24px;
        width: 327px;
    }

    .homePage4 h3 {
        font-size: 29px;
    }

    .homePage4 a {
        height: 48px;
        font-size: 20px;
    }

    .footer-info .left,
    .right {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .right div{
        margin-bottom: 6px;
        padding-bottom: 16px;
    }

    .left .info {
        min-height: 100px;
        font-size: 15px;
        text-align: center;
    }

}