* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Livvic';
    font-weight: 700;
}

.box {
    display: flex;
    padding-top: 120px;
    align-items: center;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.homePage2-info h2 {
    font-size: 32px;
    color: #F67E7E;
    margin-bottom: 32px;
}

.homePage2-cards {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.homePage2-card {
    display: flex;
    align-items: center;
    gap: 23px;
    color: white;

}

.homePage2-card h4 {
    color: #F67E7E;
    margin-bottom: 16px;
}

.homePage2-card p {
    width: 445px;
    font-weight: 600;
    line-height: 28px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inp {
    width: 540px;
    height: 42px;
    border-bottom: 1px solid white;
}

.inp input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
}

.inp input::placeholder {
    color: white;
    padding: 0 0 16px 14px;
}

.inp2 {
    resize: none;
    background: transparent;
    width: 540px;
    height: 84px;
    border: none;
    border-bottom: 1px solid white;
}

.inp2::placeholder {
    color: white;
    padding: 0 0 0 14px;
}

footer {
    background: #002529;
}

.footer-info {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    gap: 125px;
}

.logo a {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin-right: 40px;
    color: white;
    transition: all 700ms linear;
}

.logo a:hover {
    color: #F67E7E;
}

.logo img {
    margin-bottom: 25px;
}

.info {
    width: 210px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #99a8a9;
}

.right {
    width: 255px;
}

.right div {
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-bottom: 51px;
}

.right div img {
    cursor: pointer;
}

.right p {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #99a8a9;
}


@media (width<809px) {
    .container {
        width: 689px;
        margin: 0 auto;
        padding: 0 40px;
        text-align: center;
    }

    .main {
        height: auto;
    }

    header {
        padding-top: 64px;
    }

    header {
        padding-bottom: 112px;
    }

    .box {
        width: 515px;
        padding: 122px 0;
        flex-direction: column;
        gap: 64px;
    }

    .box h1 {
        width: 583px;
        line-height: 56px;
        font-size: 64px;
    }

    .box .homePage2-info {
        width: 515px;
        margin: auto;
        padding-top: 0;
    }

    .box form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 200px;
    }

    .box footer {
        min-height: 271px;
    }

    .box .footer-info {
        padding: 56px 0;
        max-width: 698px;
        flex-direction: column;
        text-align: right;
        justify-content: start;
    }

    .box .footer-info .left {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .box .footer-info .left .logo img {
        margin-left: -20px;
        margin-bottom: 53px;
    }

    .box .footer-info .left .info {
        font-size: 15px;
    }

    .box .footer-info .right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .box .footer-info .right div {
        display: flex;
        justify-content: start;
    }


    footer {
        min-height: 271px;
    }

    .footer-info {
        padding: 56px 0;
        max-width: 698px;
        flex-direction: column;
        text-align: right;
        justify-content: start;
    }

    .footer-info .left {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .footer-info .left .logo img {
        margin-left: -20px;
        margin-bottom: 53px;
    }

    .footer-info .left .info {
        font-size: 15px;
    }

    .footer-info .right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-info .right div {
        display: flex;
        justify-content: start;
    }


}

@media (width<600px) {
    .container {
        width: 327px;
        margin: 0 auto;
        padding: 0 24px;
        text-align: center;
    }

    .nav-left ul,
    .nav-right {
        display: none;
    }

    .main {
        height: 1130px;
    }

    .imager {
        display: block;
        margin-top: 10px;
        cursor: pointer;
    }

    header {
        padding-top: 64px;
        padding-bottom: 80px;
    }

    .box {
        flex-direction: column;
        align-items: center;
        gap: 64px;
        height: 1132px;
        margin: auto;
    }

    .box h1 {
        width: 327px;
        line-height: 20px;
        padding-top: 72px;
        font-size: 40px;
    }

    .box div {
        width: 327px;
        margin: auto;
    }

    .box .homePage2-info {
        width: 327px;
        margin: auto;
    }

    .box .b {
        display: none;
    }

    .box .elementp {
        width: 327px;
        margin: auto;
        padding-top: 0;
        font-size: 15px;
    }

    .box form {
        width: 327px;
        margin: auto;
    }

    .box form .inp2 {
        width: 100%;
    }


    .footer-info {
        height: auto;
        padding: 66px;
    }

    .footer-info .left,
    .right {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .right div {
        margin-bottom: 6px;
        padding-bottom: 16px;
    }

    .left .info {
        min-height: 100px;
        font-size: 15px;
        text-align: center;
    }
}